<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87C0BAF91EA448920084A9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C0BB021EA448920084A9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C121F41EA5B16900499FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C121FC1EA5B16900499FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
